<%= render partial: 'shared/home_link', locals: {path: "/"} %>
<%= render partial: 'shared/admin_links', locals: {path: "/admin"} %>

<h1>Admin Invoices Show</h1>

<h2>Invoice ID: <%= @invoice.id %></h2>
<p>Status: <%= @invoice.status %></p>
<p>Created at: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
<h3>Customer: <%= "#{@invoice.customer.first_name} #{@invoice.customer.last_name}"%></h3>
<br/>
<h2>Invoice Items</h2>
<% @invoice.invoice_items.each do |invoice_item| %>
 <h3>Item: <%= invoice_item.item.name %></h3>
 <p>Quantity: <%= invoice_item.quantity %></p>
 <p>Unit Price: <%= number_to_currency(invoice_item.item.unit_price.fdiv(100)) %></p>
 <p>Status: <%= invoice_item.status %></p>
 <br/>
<% end %>

<h2>Invoice Total Revenue</h2>
<%= number_to_currency(@invoice.total_rev.fdiv(100)) %>
