<%= render partial: 'shared/home_link', locals: {path: "/"} %>
<%= stylesheet_link_tag "dashboard" %>

<h1>My Bulk Discounts</h1>

<% @merchant.discounts.each do |discount| %>
<div id="discount-<%= discount.id %>">
  <p>Percentage: <%= discount.percentage %>%</p>
  <p>Quantity threshold: <%= discount.quantity_threshold %></p>
  <p><%= link_to "View discount", "/merchants/#{@merchant.id}/discounts/#{discount.id}" %></p>

  <%= link_to "Delete discount","/merchants/#{@merchant.id}/discounts/#{discount.id}", method: :delete %>
</div>
<% end %>

<p><%= link_to "Create discount", "/merchants/#{@merchant.id}/discounts/new" %></p>

<div class="header">
  <h2>Upcoming Holidays</h2>
  <% @holidays.holiday_information.each do |holiday|%>
    <p><%= holiday.name %></p>
  <% end %>
</div>

