<h2>Create New Discount</h2>
<%= form_with url: "/merchants/#{@merchant.id}/discounts", method: :post, local: true do |form| %>
<%= form.label :percentage %>
<%= form.text_field :percentage %>
<%= form.label :quantity_threshold %>
<%= form.text_field :quantity_threshold %>
<%= form.submit 'Submit' %>
<% end %>